body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--font-color1);
}
:root {
    --font-color1: #212121;
    --font-color2: #757575;
    --brand-color: #2196f3;
    --off-color: #f5f4fa;
    --background-color1: #2f303a;
}
*,
*::before,
*::after {
    outline: none;
}

p,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-container {
    background-color: var(--background-color1);
    padding-top: 60px;
    padding-bottom: 60px;
}
.title {
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.introduce {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.offer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.offer-description {
    color: var(--font-color2);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.logo {
    color: var(--brand-color);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
}
.black {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.white {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.solutions {
    background-color: var(--background-color1);
}
.order {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--off-color);
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    padding: 10px 42px;
}
.order:hover,
.order:focus {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: #fff;
    cursor: pointer;
}
.button {
    background-color: var(--off-color);
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    padding: 6px 22px;
}
.button:hover,
.button:focus {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: #fff;
    cursor: pointer;
}
.name {
    color: var(--font-color1);
    font-weight: 500;
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
}
.project-name {
    color: var(--font-color1);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.type {
    color: var(--font-color2);
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
}
.nav-item {
    color: var(--font-color1);
    font-weight: 500;
    text-decoration: none;

    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.17;
}
.nav-itemhover,
.nav-item:focus {
    color: var(--brand-color);
}
.contact {
    color: var(--font-color2);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.17;
    margin: 25px;
}
.crew {
    background-color: #f5f4fa;
    padding: 94px 0;
}
.contact:hover,
.contact:focus {
    color: var(--brand-color);
}
.solutions {
    background-color: #2f303a;
    padding: 200px 452px;
}

.address {
    color: #fff;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    font-style: normal;
}
.contact-footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;

    text-decoration: none;
    letter-spacing: 0.03em;
    font-style: normal;
}
.contact-footer:hover,
.contact-footer:focus {
    color: var(--brand-color);
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ececec;
}
.options {
    display: flex;
    justify-content: center;
    gap: 8px;

    margin-bottom: 50px;
}
.nav {
    display: flex;
    flex-wrap: wrap;

    gap: 46px;
    padding: 32px 46px;
}
.contact-data {
    padding: 32px 0;
}
.offer-items {
    display: flex;
    gap: 30px;
    line-height: 1.71;
    padding: 94px 0;
}
.our-services {
    display: flex;
    gap: 30px;
    padding: 50px 0 94px;
}
.crew-members {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.menu > .logo {
    margin: 24px 90px 25px 215px;
    padding: 0;
}
.decoration {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
}
.footer-container > .logo {
    margin: 60px 0 161px 215px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.description {
    padding: 30px;
    text-align: center;
    background-color: #fff;
}
